process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

process {
    withName: 'DORADO_BASECALLER' {
        publishDir = [
            path: { "${params.outdir}/dorado/basecaller" },
            mode: "${params.publish_dir_mode}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }

    withName: 'DORADO_DEMUX' {
        ext.args = "${params.emit_bam ? '' : '--emit-fastq' }"

        publishDir = [
            path: { "${params.outdir}/dorado/demux" },
            mode: "${params.publish_dir_mode}",
            saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
        ]
    }
}