process {
    publishDir = [
        path: { "${params.outdir}/${task.process.tokenize(':')[-1].tokenize('_')[0].toLowerCase()}" },
        mode: "${params.publish_dir_mode}",
        saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
    ]
}

// process {
//     withName: 'SAMPLESHEET_CHECK' {
//         publishDir = [
//             path: { "${params.outdir}/pipeline_info" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'DORADO_BASECALLER' {
//         ext.args = "${params.dorado_args ?: ''}"
//         publishDir = [
//             path: { "${params.outdir}/dorado/basecaller" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename },
//             enabled: !params.dorado_batch_processing
//         ]
//     }

//     withName: 'MERGE_BASECALLING' {
//         publishDir = [
//             path: { "${params.outdir}/dorado/basecaller" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'DORADO_DEMUX' {
//         ext.args = "${params.emit_bam ? '' : '--emit-fastq' }"
//         publishDir = [
//             path: { "${params.outdir}/dorado/demux" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'CHOPPER' {
//         ext.args2 = "-q ${params.min_qscore}"
//         publishDir = [
//             path: { "${params.outdir}/grouped/${meta.group}/${meta.user}/asf/${meta.project_id}/${meta.run_id}/filtered_reads" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'FILTER_READ_Q' {
//         ext.args2 = "-q ${params.min_qscore}"
//         publishDir = [
//             path: { "${params.outdir}/grouped/${meta.group}/${meta.user}/asf/${meta.project_id}/${meta.run_id}/filtered_reads" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'FASTQC' {
//         publishDir = [
//             path: { "${params.outdir}/qc/fastqc" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'FILTER_BC' {
//         ext.args = { "--tag BC:${meta.barcode}" }
//         ext.prefix = { "${meta.id}.bcfilt" }
//         publishDir = [
//             enabled: false
//         ]
//     }

//     withName: 'MERGE_GROUPS' {
//         publishDir = [
//             path: { "${params.outdir}/grouped/${meta.group}/${meta.user}/asf/${meta.project_id}/${meta.run_id}/raw_reads" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'DORADO_SUMMARY' {
//         ext.prefix = { "${meta.id}.raw_dorado_summary" }
//         publishDir = [
//             path: { "${params.outdir}/grouped/${meta.group}/${meta.user}/asf/${meta.project_id}/${meta.run_id}" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'TOULLIGQC_ALL' {
//         publishDir = [
//             path: { "${params.outdir}/qc/toulligqc" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'TOULLIGQC_GROUPED' {
//         publishDir = [
//             path: { "${params.outdir}/grouped/${meta.group}/${meta.user}/asf/${meta.project_id}/${meta.run_id}/qc/toulligqc" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'CUSTOM_DUMPSOFTWAREVERSIONS' {
//         publishDir = [
//             enabled: false
//         ]
//     }

//     withName: 'MULTIQC_ALL' {
//         publishDir = [
//             path: { "${params.outdir}/qc/multiqc" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }

//     withName: 'MULTIQC_GROUPED' {
//         publishDir = [
//             path: { "${params.outdir}/grouped/${meta.group}/${meta.user}/asf/${meta.project_id}/${meta.run_id}/qc/multiqc" },
//             mode: "${params.publish_dir_mode}",
//             saveAs: { filename -> filename.equals('versions.yml') ? null : filename }
//         ]
//     }
// }
