process {
  withName: 'DORADO_BASECALLER' {
      cpus = 5
      memory = 64.GB
      time = 48.h
      queue = 'gpu'
      clusterOptions = "--gres=gpu:2"
      containerOptions = '--nv'
  }

  withName: 'PYCOQC' {
      cpus = 1
      memory = 128.GB
      time = 1.h
  }

  withName: 'NANOPLOT' {
      cpus = 1
      memory = 32.GB
      time = 1.h
  }
}
