singularity.pullTimeout = '1800s'

params {
    dorado_model = "sup"
    dorado_batch_num = 5
}

process {
  withName: 'DORADO_BASECALLER' {
      cpus = 5
      memory = 64.GB
      time = 12.h
      queue = "${params.dorado_gpu_queue != null ? params.dorado_gpu_queue : 'gpu'}"
      clusterOptions = "--gres=gpu:${params.dorado_gpu_num} ${params.dorado_gpu_res != null ? '--reservation=' + params.dorado_gpu_res : ''}"
      containerOptions = '--nv'
  }

  withName: 'DORADO_DEMUX' {
      cpus = 1
      memory = 8.GB
      time = 12.h
  }

  withName: 'CHOPPER' {
      cpus = 8
      memory = 32.GB
      time = 24.h
  }

  withName: 'TOULLIGQC.*' {
      cpus = 10
      memory = 64.GB
      time = 12.h
  }
}
