// Tests illumina bulk 

params {
    // Limit resources so that this can run on CI
    max_cpus   = 4
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    debug = true
    mode = "illumina"
    run_dir = "$projectDir/tests/data/illumina/runs/bulk_subset"
    samplesheet = "$projectDir/tests/data/illumina/runs/bulk_subset/samplesheet.csv"
}
