// Tests full pipeline with batch basecalling

params {
    // Limit resources so that this can run on CI
    max_cpus   = 4
    max_memory = '16.GB'
    max_time   = '6.h'

    // Pipeline params
    debug = true
    run_dir = "s3://crick-pipeline-technologies-nextflow-test-data/ont/batch_pod5"
    samplesheet = "$projectDir/tests/data/runs/pod5_100/samplesheet.csv"
    dorado_model = 'hac'
    dorado_batch_num = 5
}
