// Tests on a fake multi sample bam

params {
    // Limit resources so that this can run on CI
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '6.h'

    // Pipeline params
    debug = true
    skip_basecalling = true
    run_dir = "$projectDir/tests/data/runs/fake_run_1"
    bam = "$projectDir/tests/data/runs/fake_run_1/1000_reads_6_samples.bam"
    samplesheet = "$projectDir/tests/data/runs/fake_run_1/samplesheet.csv"
    dorado_model = 'hac'
    dorado_bc_parse_pos = 2
    min_qscore = 0
}
