// testing on fastq files
params {
    // Limit resources so that this can run on CI
    max_cpus   = 2
    max_memory = '8.GB'
    max_time   = '6.h'

    // Pipeline params
    debug = true
    run_dir = './data/run/DN23241/SAF6454A1/20230830_1215_P2S-00767-A_PAO92586_3b7ba738'
    dorado_model = 'hac'
    bam = './data/bam/20230830_1215_P2S-00767-A_PAO92586_3b7ba738.bam'
    sequencing_summary = './data/txt/sequencing_summary_PAQ29817_dd017d33_15b4b4f3.txt'
}